@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body {
    background-color: #FC8587;
}
.contenedor_reloj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.reloj {
    background-color: #FFCBDD;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    border: 8px solid #160604;
}

.reloj .segundos {
    width: 2px;
    height: 150px;
    background-color: #FF72B4;
    position: absolute;
    /* 150 de diámetro - 150 + 25px porque queremos que sobresalga la manilla */
    top: 25px;
    /* 150px de diámetro - 2/2 */
    left: 149px;
    z-index: 1;
    /* ajustes a mano para darle un poco de precisión */
    transform-origin: 50% 120px;
}

.reloj .minutos {
    width: 6px;
    height: 100px;
    background-color:#160604;
    position: absolute;
    /* 150 de diámetro - 100 + 5px porque queremos que sobresalga la manilla */
    top: 55px;
    /* 150px de diámetro - 6/2 */
    left: 147px;
    z-index: 2;
    /* ajustes a mano para darle un poco de precisión */
    transform-origin: 50% 90px;
}

.reloj .horas {
    width: 10px;
    height: 90px;
    background-color: #160604;
    position: absolute;
    /* 150 diámetro - 90 */
    top: 70px;
    /* 150px de diámetro - 10/2 */
    left: 145px;
    z-index: 3;
    /* ajustes a mano para darle un poco de precisión */
    transform-origin: 50% 75px;
}

.marcas_reloj {
    list-style: none;
    margin: 0;
    padding: 0;
}

.marcas_horas {
    list-style: none;
    margin: 0;
    padding: 0;
}

.marcas_horas li {
    position:absolute;
    top: 146px; 
    left: 148px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.marcas_horas li:nth-child(1) {
    transform: translateY(-126px) translateX(-6px);
}

.marcas_horas li:nth-child(2) {
    transform: translateY(-3px) translateX(120px);
}

.marcas_horas li:nth-child(3) {
    transform: translateY(118px) translateX(-3px);
}

.marcas_horas li:nth-child(4) {
    transform: translateY(-4px) translateX(-124px);
}

.marcas_reloj li {
    background:#929394;
    position:absolute;
    top: 146px; 
    left: 148px;
    width: 2px;
    height: 6px;
}

.marcas_reloj li:nth-child(5n) {
    height: 10px;
    width: 4px;
}